@import "tailwindcss";

@theme {
  --font-base: "Inter", sans-serif;
  --font-special-1: "Comic Sans MS", cursive;
  --color-primary: #4f46e5;
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-dark-background: #1a1a1a;
  --color-dark-foreground: #f2f2f2;
}

@layer base {
  html {
    font-family: var(--font-base); /* Global font */
  }
}

@utility shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

@utility shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@utility shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

@utility shadow-xl {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.special-font1 {
  font-family: var(--font-special-1);
}

@variant supports-blur (&:where([data-blur="true"] *));
